<!DOCTYPE html>
<html>
    <head>
        <meta charset=""UTF-8>
        <title>Close Task</title>
    </head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
    </style>
    <body>
        <table>
            <tr>
                <td>Task ID</td>
                <td>{{task_id|safe}}</td>
            </tr>
            <tr>
                <td>User Name</td>
                <td>{{user_name|safe}}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{task_title|safe}}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{task_description|safe}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{task_status|safe}}</td>
            </tr>
        </table>

        <form action="/task/{{task_id}}/close-task-options" method="post">

            <input type="submit" name="action" value="Close Task">
            <input type="submit" name="action" value="Close Task and Re-Create">

        </form>
    
        <p><a href="{{ url_for('/user/<user_name>', user_name=user_name) }}">Return to User Home</a></p>
    </body>
</html>