<!DOCTYPE html>
<html>
    <head>
        <meta charset=""UTF-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create User</title>
        <style>
            body {font-family:Arial;font-size:10pt}
            H1 {font-family:Arial;margin-bottom:14px}
            H2 {font-family:Arial;margin-bottom:12px}
        </style>
    </head>
    <body>
        <H1>Create a new User</H1>
        <form action="create-user" method="post">
            User Name: <input type="text" name="user_name">
            <br>
            Email Address: <input type="text" name="email_address">
            <br>
            Task-trigger Notification Preference: 
            <select id="trigger_notification_preference" name="trigger_notification_preference">
                <option value="none">None</option>
                <option value="email">Email</option>
            </select>
            <br>
            Summary Notification Preference: 
            <select id="summary_notification_preference" name="summary_notification_preference">
                <option value="none">None</option>
                <option value="weekly:friday">Weekly (Friday)</option>
            </select>
            <br>
            Closed Task Display Count Preference: <input type="number" name="closed_task_display_count_preference" min="0" value="10">
            <br>
            <input type="submit" value="Create User" id="create-user">
            <br><br>
            {% for message in get_flashed_messages()%}
                {{message}} 
                <br>
            {% endfor %}
        </form>
    </body>
</html>