<!DOCTYPE html>
<html>
    <head>
        <meta charset=""UTF-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tasks</title>
        <style>
            body {font-family:Arial;font-size:10pt}
            H1 {font-family:Arial;margin-bottom:14px}
            H2 {font-family:Arial;margin-bottom:12px}
        </style>
    </head>
    <body>
        <H1>User Login</H1>
        <form action="user-login" method="post">
            User Name: <input type="text" name="user_name">
            <br>
            <input type="submit" value="Log In" id="user-login">
            <br>
            <p><a href="{{ url_for('create-user-home') }}">Create user</a></p>
            <br><br>
            {% for message in get_flashed_messages()%}
                {{message}} 
                <br>
            {% endfor %}
        </form>
    </body>
</html>
