<!DOCTYPE html>
<html>
    <head>
        <meta charset=""UTF-8>
        <title>Tasks</title>
    </head>
    <body>
        User Login
        <form action="user-login" method="post">
            User Name: <input type="text" name="user-name">
            <br>
            <input type="submit" value="Log In" id="user-login">
            <br>
            <p><a href="{{ url_for('create-user-home') }}">Create user</a></p>
            <br><br>
            {% for message in get_flashed_messages()%}
                {{message}} 
                <br>
            {% endfor %}
        </form>
    </body>
</html>
