<!DOCTYPE html>
<html>
    <head>
        <meta charset=""UTF-8>
        <title>Re-Create Task</title>
    </head>
    <body>
        Create a new Task
        <form action="/user/{{user_name}}/create-task" method="post">
            User Name: {{user_name}}
            <br>
            <br>
            Title: 
            <br>
            <input type="text" name="task-title" value="{{task_title}}">
            <br>
            <br>
            Description: 
            <br>
            <textarea id="task-description" name="task-description" rows="4" cols="50">{{task_description}}</textarea>
            <br>
            <br>
            Trigger Date: 
            <br>
            <input type="date" name="trigger-date">
            <br>
            <br>
            <input type="submit" value="Create Task" id="/user/{{user_name}}/create-task">
            <br>
            <br>
            {% for message in get_flashed_messages()%}
                {{message}} 
                <br>
            {% endfor %}
        </form>
        <p><a href="{{ url_for('/user/<user_name>', user_name=user_name) }}">Return to User Home</a></p>
    </body>
</html>