<!DOCTYPE html>
<html>
    <head>
        <meta charset=""UTF-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Home</title>
        <style>
            body {font-family:Arial;font-size:10pt}
            H1 {font-family:Arial;margin-bottom:14px}
            H2 {font-family:Arial;margin-bottom:12px}
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td>Task ID</td>
                <td>{{task_id|safe}}</td>
            </tr>
            <tr>
                <td>User Name</td>
                <td>{{user_name|safe}}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{task_title|safe}}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{task_description|safe}}</td>
            </tr>
        </table>

        <br>
    
        <p><a href="{{ url_for('/task/<task_id>', task_id=task_id, _external=True) }}">Task Home</a></p>
        <p><a href="{{ url_for('/user/<user_name>', user_name=user_name, _external=True) }}">User Home</a></p>
    </body>
</html>