<!DOCTYPE html>
<html>
    <head>
        <meta charset=""UTF-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update User</title>
        <style>
            body {font-family:Arial;font-size:10pt}
            H1 {font-family:Arial;margin-bottom:14px}
            H2 {font-family:Arial;margin-bottom:12px}
        </style>
    </head>
    <body>
        <H1>Update User</H1>
        <form action="/user/{{user_name}}/update" method="post">
            <H2>User Name: {{user_name}}</H2>
            <br>
            Email Address: <input type="text" name="email_address" value="{{email_address}}">
            <br>
            Task-trigger Notification Preference: 
            <select id="trigger_notification_preference" name="trigger_notification_preference">
                <option value="none" 
                    {% if trigger_notification_preference == 'none' %} selected {% endif %}
                    >None</option>
                <option value="email"
                {% if trigger_notification_preference == 'email' %} selected {% endif %}
                >Email</option>
            </select>
            <br>
            Summary Notification Preference: 
            <select id="summary_notification_preference" name="summary_notification_preference">
                <option value="none"
                    {% if summary_notification_preference == 'none' %} selected {% endif %}
                    >None</option>
                <option value="weekly:friday"
                    {% if summary_notification_preference == 'weekly:friday' %} selected {% endif %}
                    >Weekly (Friday)</option>
            </select>
            <br>
            <input type="submit" value="Update User" id="/user/{{user_name}}/update" >
            <br><br>
            {% for message in get_flashed_messages()%}
                {{message}} 
                <br>
            {% endfor %}
        </form>
        <p><a href="{{ url_for('/user/<user_name>', user_name=user_name) }}">Return to User Home</a></p>
    </body>
</html>