<!DOCTYPE html>
<html>
    <head>
        <meta charset=""UTF-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update Task</title>
    </head>
    <body>
        Update Task
        <form action="/task/{{task_id}}/update" method="post">
            Task ID: {{task_id}}
            <br>
            User Name: {{user_name}}
            <br>
            <br>
            Title: 
            <br>
            <input type="text" name="task_title" value="{{task_title}}">
            <br>
            <br>
            Description: 
            <br>
            <textarea id="task_description" name="task_description" rows="4" cols="50">{{task_description|safe}}</textarea>
            <br>
            <br>
            Trigger Date: 
            <br>
            <input type="date" name="trigger_date" value="{{trigger_date|safe}}" min="{{min_date}}">
            <br>
            <br>
            Status: {{task_status}}
            <br>
            <br>
            <input type="submit" value="Update Task" id="/task/{{task_id}}/update">
            <br>
            <br>
            {% for message in get_flashed_messages()%}
                {{message}} 
                <br>
            {% endfor %}
        </form>
        <p><a href="{{ url_for('/user/<user_name>', user_name=user_name) }}">Return to User Home</a></p>
    </body>
</html>