<!DOCTYPE html>
<html>
    <head>
        <meta charset=""UTF-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tasks</title>
    </head>
    <body>
    Welcome {{user_name}}
    <br>
    <form action="/user/{{user_name}}/create-task-home" method="post"><input type="submit" value="Create New Task"></form>
    <br>
    Open Tasks
    <br>
    {{open_tasks|safe}}
    <br>
    <br>
    Scheduled Tasks
    <br>
    {{scheduled_tasks|safe}}
    <br>
    <br>
    Recently Closed Tasks
    <br>
    {{closed_tasks|safe}}
    <br>
    <br>
        <!--form action="user-login" method="post">
            User ID: <input type="text" name="user-id">
            <br>
            <input type="submit" value="Log In" id="user-login">
            <br>
        </form-->
    
    <p><a href="{{ url_for('/user/<user_name>/update-home', user_name=user_name) }}">Update User Info</a></p>
    
    <p><a href="{{ url_for('_login_home') }}">Return to Log-in Page</a></p>
    </body>
</html>
